@media screen and (max-width: 1048px)
  .report-column
    .report-column-main
      .column
        width calc(100% - 26px)
        min-width 380px
@media screen and (min-width: 1440px)
  .report-column
    .report-column-main
      .column
        width calc(33.3% - 26px)