@import "../../common/style/variable"
.market
  margin-bottom 30px
  min-width 780px
  .market-nav
    display flex
    justify-content center
    margin-bottom 30px
  .no-result-wrapper
    margin 50px 0