@import "../../common/style/variable"
.scroll
  display flex
  justify-content space-around
  padding 12px 0 14px
  background-color $color-light-background
  .item
    display flex
    flex-direction column
    justify-content space-between
    padding 0 22px
    width calc(16.66%)
    min-width 168px
    height 40px
    font-size 12px
    border-right 1px solid $color-line
    cursor pointer
    &:nth-last-child(1)
      border-right none
    .item-top
      display flex
      justify-content space-between
      color $color-text
    .item-bottom
      display flex
      align-items center
      height 18px
      &.red
        color $color-red
      &.green
        color $color-green
      .icon-up,.icon-down
        margin-right 10px
      .change
        margin-right 8px
        font-weight 600
        font-size 24px
@media screen and (max-width: 1280px)
  .scroll
    .item
      width calc(20%)