@import '../../common/style/variable.styl'
.row-nav
  display flex
  .nav-btn
    display flex
    align-items center
    justify-content center
    margin 0 9px
    width 80px
    height 32px
    border-radius 16px
    text-align center
    cursor pointer
    &.nav-btn-s
      background-color $color-blue
      color $color-white