@import "../../common/style/variable"
.vip-report-wrapper
  .vip-report-nav
    min-width 600px
    .row-nav
      display flex
      justify-content center
  .report-column
    .report-column-time
      display inline-block
      margin 20px 0 16px
      .title
        font-size 16px
        color $color-white
        background none
    .report-column-main
      .column
        display flex
        flex-direction column
        justify-content space-between
        .content
          height 100px
          .enter
            left 0
          .summary
            padding-left 0
            width 100%
            -webkit-line-clamp: 3
  .vip-report-no-result
    margin-top 100px
 